.new-goods-form {
    width: 100%;

    
    [nz-form] {
        margin: 20px auto;
        max-width: 600px;

        input {
            min-width: 300px;
        }
    }

    .button-albe {
        width: 80px;
        height: 40px;
        border: none;
        margin-left: 10px;
        background-color: darkblue;
        color: white;
        cursor: pointer;
    }

    .button-disalbe {
        width: 80px;
        height: 40px;
        border: none;
        margin-left: 10px;
        background-color: darkgrey;
        color: white;
        cursor: not-allowed;
    }
}